body {
    background-image: url(images/pb.png);
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
}

.signup-container {
    background-color: #fff;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 0px;
    padding-bottom: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px)
}

.signup-container h2 {
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.signup-container input[type="password"] {
    margin-bottom: 20px;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #835ADC;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #5b2bc2;
}

.signup-container .login-link {
    text-align: center;
    margin-top: 15px;
}

.signup-container .login-link a {
    color: #581ed4;
    text-decoration: none;
}

.signup-container .login-link a:hover {
    text-decoration: underline;
}